In [7]:
# 1. Create 1st tuple with values-> (10,20,30), 2nd tuple with values -> (40,50,60)
# 1. a. Concatenate the two tuples and store it in "t_combine"
tuple1 = (10,20,30)
tuple2 = (40,50,60)
t_combine = tuple1 + tuple2

In [8]:
# 1. b. Repeat the elements of "t_combine"3 times
t_combine = t_combine + t_combine + t_combine

In [9]:
print(t_combine)

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [11]:
# 1. c. Acess the 3rd element from t_combine
t_combine [2]

30

In [21]:
# 1. d. Access the first three elements from "t_combine"
print("First three elements are", t_combine[0:3])

First three elements are (10, 20, 30)

In [28]:
# 1. e. Access the last three elements from "t_combine"
print("The last three elements are", t_combine [len(t_combine)-3:])

The last three elements are (40, 50, 60)

In [29]:
# 2. Create alist 'my_list' with these elements

In [30]:
# 2. a. First element is a tuple with values 1,2,3
my_list = [(1,2,3)]

In [36]:
# 2. b. Second element is a tuple with values "a","b","c"
my_list.append (("a","b","c"))

In [37]:
print(my_list)

[(1, 2, 3), ('a', 'b', 'c')]

In [43]:
# 2. c. Third element is a tuple with values True,False
my_list.append ((True,False))

In [48]:
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

In [49]:
# 3. Append a new tuple - (1,'a',True) to my_list
my_list.append((1,'a',True))

In [50]:
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True)]

In [52]:
# 3. a. Append a new list -["sparta",123] to my list
my_list.append(["sparta",123])

In [56]:
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), ['sparta', 123]]

In [57]:
# 4. Create a dictionary 'fruit' where:
# a. The first key is 'Fruit'and the values are ("Apple","Banana","Mango","Guava")
fruit = {"Fruit": ("Apple","Banana","Mango","Guava")}

In [60]:
# 4. b. The second key is 'Cost' and the values are (85,54,120,70)
fruit.update({"Cost":(85,54,120,70)})

In [62]:
# 4. c. Extract all the keys from 'fruit'
# 4. d. Extract all the values from 'fruit'
x=fruit.keys()
y = fruit.values()
print(x)
print(y)

dict_keys(['Fruit', 'Cost'])
dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])

In [66]:
# 5. Create a set named 'my_set' with values (1,1,"a","a",True,True) and print the result
my_set = set([1,1,"a","a",True,True])
print(my_set)

{1, 'a'}